@{
    ViewData["Title"] = "Home Page";
}
<div class="home-bg-image"></div>
<div class="text-center">
    <h1 class="display-4">Kentucky Birds</h1>

</div>





<style>
    body {
        background-image: url("Images/background2.jpeg");
        height: 100vh;
        width: 100vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
    }

    .display-4 {
        color: lightyellow;
        font-family: cursive;
        margin-top: 180px;
    }
</style>