@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url("Images/background2.jpeg");
        height: 100vh;
        width: 100vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
    }
    .display-4{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>



<div class="home-bg-image"></div>
<div class="text-center">
    <h1 class="display-4">Kentucky's Birds</h1>

</div>

